html{
  margin: 0px;
  padding: 0px;
}

body {
  height:100%;
  margin: 0px;
  background-color: #ccc;
  padding-bottom:60px;	/* Height of the footer */
}







/*header*/
.main-wrapper {
  margin: auto;
  width: auto;
  vertical-align: middle;
}

/*footer*/
.main-footer{
  width: 100%;
  height: 60px;
  bottom:0;
  position:absolute;
  color: black;
  background-color: white;
  clear: left;
  text-align: center;
    
}

a {
  text-decoration: none;
}

/*index*/
.content{
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75); 
}


header nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
}

header nav ul {
  float: left;
  list-style: none;
}

header nav ul a {
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 63px;
}

header .nav-login {
  float: right;
}

header .nav-login form {
  float: left;
  padding-top: 15px;
}

header .nav-login form input {
  float: left;
  width: 140px;
  height: 30px;
  padding: 0px 10px;
  margin-right: 10px;
  border: none;
  background-color: #ccc;
  font-family: arial;
  font-size: 14px;
  color: #111;
  line-height: 30px;
}

header .nav-login form button {
  float: left;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border: none;
  background-color: #f3f3f3;
  font-family: arial;
  font-size: 14px;
  color: #111;
  cursor: pointer;
}

header .nav-login form button:hover {
  background-color: #ccc;
}

header .nav-login a {
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  float: left;
  background-color: #fff;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 63px;
  cursor: pointer;
}

.main-container {
  padding-top: 40px;
}


.main-container h2 {
  font-family: arial;
  font-size: 40px;
  color: #111;
  line-height: 50px;
  text-align: center;
}

table{
    width: 200px;
}

td{
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    line-height: 0.5;
}

.dropdown-content {
    display: none;
    right: 0px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    min-width: 125px;
    text-decoration: none;
    display: block;
}

.dropdown-content form{
    color: black;
    height: auto;
    text-decoration: none;
    display: block;
}

.dropdown-content form button{
    color: black;
    height: 100px;
    background-color: #f9f9f9;
    min-width: 125px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ccc}

.dropdown:hover .dropdown-content {
    display: block;
}


/*signup.php*/

.signup-form {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  background-color: #ff9167;
}

.signup-form input {
  width: 90%;
  height: 40px;
  padding: 0px 5%;
  margin-bottom: 4px;
  border: none;
  background-color: #fff;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 40px;
}

.signup-form button {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 40px;
  border: none;
  background-color: #222;
  font-family: arial;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.signup-form button:hover{
  background-color: #111;
}

/*profil.php*/

.edit{
  font-size: 13px;
}
